
/* Base Styles ------------------------------------------------------------------------------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: #eaeaea;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}



/* Mobile Styles ---------------------------------------------------------------------------- */

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 30px;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    color: #707070;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslateblue;
    padding: 10px;
}

li {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 3px;
    width: 90%;
}

div {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 500;
}

img {
    max-width: 100%;
}

span {
    color: teal;
    font-weight: 700;
    margin: 0 10px;
}

.s3 {
    padding-top: 50px;
}

.s3 h3 {
    color: hotpink;
}

.s4 {
    background-color: whitesmoke;
    margin: 150px 0;
    padding-bottom: 30px;
}

.s4 p {
    color: seagreen;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}

.footername, .footerback{
    padding: 25px;
    width: auto;
    background-color: #eaeaea;
}

.bottom-nav {
    display: none;
}



/* Tablet Styles -------------------------------------------------------------------------- */

@media (min-width: 768px) {

.navbar {
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
}

.intro-container {
    padding-top: 50px;
}

.profile-img {
    float: right;
    margin: 15px;
}

.s1 p {
    font-size: 1.5rem;
    text-align: left;
}

.s2 p {
    margin: 25px;
}

.tablet-flex-area-1, .tablet-flex-area-2, .tablet-flex-area-3 {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 95%;
}

.footerback {
    display: none;
}

.bottom-nav {
    display: list-item;
    padding: 25px;
    background-color: #eaeaea;
}

.footername {
    margin-right: auto;
}

footer li {
    width: auto;
}

}



/* Laptop and Larger Screen Styles ----------------------------------------------------------- */

@media (min-width: 1024px) {



}