
/* Base Styles ------------------------------------------------------------------------------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: #eaeaea;
    color: #333333;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}



/* Mobile Styles ---------------------------------------------------------------------------- */

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 30px;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    color: #707070;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 3px;
    width: 90%;
}

div {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 500;
}

img {
    max-width: 100%;
}

span {
    color: #333333;
    margin: 0 10px;
}

.s3 {
    background-color: whitesmoke;
    margin: 150px 0;
    padding-bottom: 30px;
}



/* Tablet Styles -------------------------------------------------------------------------- */

@media (min-width: 768px) {

.navbar {
    flex-direction: row;
}
    
li {
    background-color: #eaeaea;
    width: auto;
}

.profile-img {
    float: right;
    margin: 15px;
}

.blah {
    font-size: 1.5rem;
    vertical-align: middle;
}

/* .intro-container {
    display: flex;
} */

/* or just use another display flex? */

}